.heading{
    font-size: 23px;
    margin: 0%;
    padding: 5px;
    width: 100%;
}
.note{
    width: 100%;
    font-size: small;
}

#emptyhead{
    font-size: 23px;
    margin: 0%;
    width: 90%;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
}
